body {
  background-color: #D3D6CF; /* Couleur du fond de la page */
}
.slider-custom .irs-bar {
  background: lightgrey;
  border-color: black;
}
.slider-custom .irs-slider {
  background: lightgrey;
  border-color: black;
}
.slider-custom .irs-handle {
  background-color: lightgrey;
  border-color: black;
}
.slider-custom .irs-single{
  background-color: lightgrey;
  border-color: black;
  color: black;
}
.btn-radio{
  color: #fff;
  background-color: grey;
  border-color: grey;
}
.btn.active{
  background-color:lightgrey;
  color:black;
}